@charset "ISO-8859-1";


* {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

td {
	color: yellow;
	font-weight: bolder;
	text-align: center;
	font-size: 20px;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 20px;
}

table {
	margin-top: 100px;
}

th {
	color: white;
	font-weight: bolder;
	font-size: 30px;
	text-align: center;
}

	tr:hover {
		background-color: black;
		color: yellow;
	}



body {
	background-color: #363945;
	background-repeat: no-repeat;
	background-size: cover;
}
a{
text-decoration: none;
font-size: 30px;
position: absolute;
right: 20px;
top :20px;
}
#removedUsersCaption{
position: absolute;
top : 40px;
left : 540px;
font-size: 40px;
color: red;
}