@charset "ISO-8859-1";

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial,Helvetica,sans-serif;	
}
form
{
   border:3px solid #f1f1f1;
   padding:10px;
   width:350px;
   margin-left:auto;
   margin-right:auto;
   height:200px;
}
h1
{
 color:#f1f1f1;
 position:absolute;
 top:150px;
 left:400px;
}
h4
{
  color:#f1f1f1;
}

form {
	position:absolute;
	top: 200px;
	left:400px;
}
body{
background-image: url("https://scontent.fmaa12-2.fna.fbcdn.net/v/t31.18172-8/22051279_1623705757680216_2725610580980024577_o.jpg?_nc_cat=111&ccb=1-5&_nc_sid=9267fe&_nc_ohc=rQNE9RPtZRwAX-mhcc2&_nc_ht=scontent.fmaa12-2.fna&oh=00_AT8DZmZcWuSx5EuS6yKVIyni07maX40Fdj558GuUd-6Ayg&oe=61FBF9C7");
background-repeat: no-repeat;
background-size:cover;	
}
#subid{
position: absolute;
top:170px;
width:80px;
height: 40px;
right : 110px;
}
.form-control
{
  width:300px;
}
#subid:hover {
	background-color: black;
	color:white;
}
#usernameinp:hover {
	color:white;
	background-color: black;
}
#bgBlur{
	position: absolute;
	background-color: rgba(11, 11, 11, 0.6);
	height: 625px;
	width: 1366px;
}
input:hover{
	box-shadow: 0 0 20px blue;
	transition-duration: 0.2s;
}
button:hover{
	box-shadow: 0 0 20px blue;
	transition-duration: 0.2s;
}
body{
background-color: #363945;
}
a{
text-decoration: none;
font-size: 30px;
position: absolute;
right: 20px;
top :20px;
}